@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

body {
  font-family: 'Reenie Beanie', cursive;
  display: flex;
  flex-direction: column;
  height: 97vh;
  justify-content: center;
  align-items: center;
  color: gray;
  background-image: url("./assets/background.jpg");
}

#todolist {
  width: 100%;
  height: 90%;
  padding: 0%;
  list-style-type: none;
  margin: 0%;
}

#todolist h3 {
  width: 80%;
  color: black;
}

#input {
  width: 85%;
  opacity: 0.75;
  margin: 0%;
  border: none;
  font-size: 1.45em;
  color: black;
  background-color: #FCFF97;
}

#input:focus {
  outline: none;
}

#inputForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2em;
  margin-left: 1em;
}

#inputForm i {
  margin-right: 1.1em;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
  margin: 0%;
  border: none;
  font-size: 1.2em;
  color: black;
}

#heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid #F2899E;
  width: 100%;
}

#heading h3 {
  font-weight: bolder;
  font-size: 5em;
  padding-top: 0.2em;
  margin: 0%;
}

input:placeholder-shown {
  font-style: italic;
}

#clear {
  width: 90%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  color: black;
  background-color: #F2899E;
  font-size: 2em;
  border-radius: 5px 5px 15px 15px;
  margin-bottom: 0.5em;
}

#clear a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.wrapper {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  min-height: 80%;
  max-height: 80%;
  width: 360px;
  border-radius: 5px 5px 15px 15px;
  background-image: url("./assets/ASH91029_L.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item .task {
  font-family: 'Reenie Beanie', cursive;
  width: 85%;
  margin: 0;
  border: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #FCFF97;
  font-size: 1em;
}

.hidden {
  display: none;
}

.strike {
  text-decoration: line-through;
}

#clearA:hover {
  font-weight: bolder;
}

.mainLoginInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Reenie Beanie', cursive;
  opacity: 1; /* Firefox */
  font-size: 1.5em;
}

.mainLoginInput { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Reenie Beanie', cursive;
  opacity: 1; /* Firefox */
  font-size: 1.5em;
}
