@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

body {
  font-family: 'Reenie Beanie', cursive;
  display: flex;
  flex-direction: column;
  height: 97vh;
  justify-content: center;
  align-items: center;
  color: gray;
  background-image: url("./assets/background.jpg");
}


#todolist {
  width: 100%;
  height: 90%;
  background-color: white;
  padding: 0%;
  list-style-type: none;
  margin: 0%;
  background-color: #E5D371;
}

#todolist h3 {
  width: 80%;
  color: black;
}

#input {
  width: 90%;
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin: 0%;
  border: none;
  font-size: 2em;
  color: black;
  background-color: #E5D371;
}

#input:focus {
  outline: none;
}

#inputForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#inputForm i {
  margin-right: 1.1em;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 0%;
  border: none;
  font-size: 1.2em;
  color: black;
}

#heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid darkgray;
  width: 100%;
  border-bottom: 2px solid black;
}

#heading h3 {
  font-weight: bolder;
  font-size: 5em;
  padding-top: 0.2em;
  margin: 0%;
}

input:placeholder-shown {
  font-style: italic;
}

#clear {
  width: 100%;
  text-align: center;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  color: black;
  background-color: lightgray;
  font-size: 2.5em;
  border-radius: 5px 5px 15px 15px;
}

#clear a {
  text-decoration: none;
  color: black;
}

.wrapper {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  border:2px solid black;
  height: 80%;
  width: 95%;
  background-color: #E5D371;
  border-radius: 5px 5px 15px 15px;
}

.item .task {
  width: 85%;
  margin: 0;
  border: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #E5D371;
  font-size: 1.25em;
}

.hidden {
  display: none;
}

.strike {
  text-decoration: line-through;
}

#clearA:hover {
  font-weight: bolder;
}

.mainLoginInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Reenie Beanie', cursive;
  opacity: 1; /* Firefox */
  font-size: 1.5em;
}